@font-face
  font-family: 'Imperial'
  src: url('../fonts/subset-URWImperialTOT-Reg.woff') format('woff')
  font-weight: normal
  font-style: normal

//colors
$main: #5B4032
$text: #4d4d4d
*
  box-sizing: border-box
body
  font-family: 'Imperial', helvetica

h1
  font-size: 80px
  line-height: 70px
  color: $main
@media (max-width: 600px)
  h1
    font-size: 60px
    line-height: 50px
.mb
  margin-bottom: 1rem
h2
  font-size: 24px
  margin: 1em 0 .5em
  color: $main
  font-weight: 700
h3
  font-size: 18px
  margin: 1em 0 10px
  color: $main
  font-weight: 700

p
  color: $text
  font-size: 16px
  line-height: 24px
  margin-bottom: 1em
  &:last-child
    margin-bottom: 0




.btn, button[type="submit"]
  display: inline-block
  font-size: 16px
  border: 1px $main solid
  background: none
  padding: 1em 2em
  text-align: center
  color: $main
  text-decoration: none
  transition: .7s all
  cursor: pointer
  font-family: 'Imperial'
  &.filled
    background: $main
    color: white
    border: none
  &.small
    padding: .75em 1.5em
  &:hover
    background: #f2f2f2
.full-width
  display: block
  width: 100%

.container
  max-width: 1400px
  padding: 2em
  margin: 0 auto
  width: 100%
  &.container--full
    padding: 0
    max-width: none
.padded-box
  padding: 1.5em


.fll
  float: left
.flr
  float: right
nav a
  color: inherit
  text-decoration: none
  font-size: 18px
  line-height: 26px
  padding: 5px 5px
  transition: .4s all
  color: $main
  opacity: .8
  &:hover
    background: #f2f2f2
    opacity: 1
.flex
  display: flex
  margin: 0 0 0 4em
  .one
    flex: 1
  .two
    flex: 2
  .three
    flex: 3
header
  top: 4em
  left: 4em
  position: fixed

  h1
    margin-bottom: 10px
.main
  margin-left: 33%
  margin-top: 150px
@media (max-width: 600px)
  header
    margin: 1.5em 0 0 1.5em
    top: auto
    left: auto
    position: relative
  .flex
    display: block
    margin: 0 1.5rem
  nav
    margin-bottom: 2em
.text-block
  max-width: 450px
  margin-bottom: 2em
.image-block
  margin-bottom: 2em

label
  display: block
  margin-bottom: 1em
input, textarea
  padding: 1em
  display: block
  width: 100%
  border: 1px #ccc solid
  margin-bottom: 2.5em
  font-size: 14px
.lined
  padding-bottom: 1em
  margin-bottom: 3em
  border-bottom: 1px #ccc solid
.light
  color: #999

.home__text
  padding: 3em 2em 2em 2em
.home__image img
  max-width: 100%
.image-block img
  max-width: 100%

@media (min-width: 767px)
  .home__image
    width: 40%
    overflow: hidden
    left: 0
    bottom: 0
    top: 0
    position: fixed
    background: url('../images/background.jpg')
    background-size: cover
    img
      display: none

  .home__text
    width: 60%
    position: fixed
    right: 0
    bottom: 0
    top: 0
    padding: 4em 0 0 4em
    .text-block
      max-width: 300px
      position: absolute
      bottom: 3em
@media (min-width: 1024px)
  .home__image
    width: 55%
  .home__text
    width: 45%


@media (min-width: 1200px)
  .home__text
    .text-block
      max-width: 350px
  .home__image
    width: 60%
  .home__text
    width: 40%

@media (min-width: 1320px)
  .home__image
    width: 65%
  .home__text
    width: 35%

// .left
//   width: 60%
//   position: fixed
//   left: 0
//   bottom: 0
//   top: 0
//   background: url('../images/background.jpg')
//   background-size: cover

// .right
//   width: 40%
//   position: fixed
//   right: 0
//   bottom: 0
//   top: 0
//   background: white
// .right__header
//   // position: absolute
//   // top: 90px
//   // left: 90px
// .right__text
//   position: absolute
//   bottom: 5em
//   // left: 90px
//   max-width: 350px
//
//
// .right__container
//   max-width: 350px
//   margin: 0 auto 0 0
//   width: 100%
//   padding: 5em 0 0 5em
// @media (max-width: 1280px)
//   .right
//     width: 50%
//   .left
//     width: 50%
//
// @media (max-width: 600px)
//   .right, .left
//     position: relative
//     width: 100%
//     float: none
//     left: auto
//     bottom: auto
//     right: auto
//     top: auto
//     box-sizing: border-box
//   .left
//     height: 50%
